# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
local_settings.py

# Environments
.venv/
env/
venv/
ENV/
.env

# OS-specific
.DS_Store
Thumbs.db
